<!DOCTYPE html>
<% provide(:title, "Contact") %>
<html>
	<head>
		<title>
<<<<<<< HEAD
			<%= yield(:title) %> Andrew's Sample Site
=======
			<%= yield(:title) %> | Andrew's Sample Site
>>>>>>> static-pages-excercises
		</title>
	</head>

	<body>
		<h1>Contact</h1>
		<p>My email is andrewgy8@gmail.com</p>

	</body>
</html>