<!DOCTYPE html>
<% provide(:title, "Home") %>
<html>
	<head>
		<title><%= yield(:title) %> | Andrew's Sample Site</title>
	</head>
	<body>
		<h1>Static Pages</h1>
		<p>This is the homepage of the Rails Turtorial 
			<a href="http://www.railstutorial.org/">Ruby on rails Tutorial</a>
			sample application.
		</p>
	</body>
</html>

