<footer class = 'footer'>
	<small>
		Andrew's <a href="http://www.rembrandtbuilders.com"> family's company</a> Website.
		This one is by Andrew himself.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="http://npr.org">News</a></li>
		</ul>
	</nav>
</footer>